//Main title
.banner-container {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  color: white;
}

.banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner-content h2 {
  color: #1c1c1c;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 17px;
  max-width: 100%;
  margin: auto;
  color: #1c1c1c;
}

// End main title 

/* Beginning */
.introduce_beginning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 40px 20px 40px;
  padding: 0 40px;
}

.introduce_beginning_left {
  width: 50%;
  margin-right: 50px;
  margin-top: -60px;
}

.introduce_beginning_right {
  width: 50%;
  text-align: center;
}

.introduce_beginning_right img {
  width: 100%;
  height: auto;
}

.introduce_beginning_underline {
  width: 100px;
  height: 4px;
  background-color: #f4b798;
  margin-bottom: 20px;
}

.introduce_beginning_left h3 {
  font-size: 1.8em;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.introduce_beginning_left p {
  font-weight: bold;
}

.introduce_beginning_left p,
.introduce_beginning_right p {
  font-size: 1em;
  color: black;
}

.introduce_beginning_right {
  font-size: 13px;
}

.introduce_beginning_right p {
  margin-top: 5px;
}

.introduce_beginning_right .beginning_credit {
  margin-right: -300px;
  margin-top: -10px;
}

.introduce_beginning_right .beginning_left_desc {
  margin-left: -6px;
}

// End beginning

// Mission
.mission_container {
  background-color: #f8dcce;
  color: #1c1c1c;
  padding: 40px 70px;
  text-align: center;
  margin-top: 70px;
}

.mission_container h4 {
  font-weight: bold;
}

.mission_description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.mission_description p {
  margin: 0 33px;
  font-size: 17px;
  margin-bottom: 25px;
}

.mission_columns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.mission_column1,
.mission_column2,
.mission_column3 {
  width: 30%;
  padding: 0 10px;
  position: relative;
}

.mission_column1 img,
.mission_column2 img,
.mission_column3 img {
  width: 100%;
  height: 220px;
}

.mission_sub_title_1,
.mission_sub_title_2,
.mission_sub_title_3 {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: bold;
}

.mission_sub_description_1,
.mission_sub_description_2,
.mission_sub_description_3 {
  font-size: 1em;
}

.mission_column1 h3,
.mission_column2 h3,
.mission_column3 h3 {
  margin: 20px 0 10px 0;
}

.mission_column2::before,
.mission_column3::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #1c1c1c;
}

.mission_column2::before {
  left: -30px;
}

.mission_column3::before {
  left: -30px;
}

.mission_column1 {
  padding-right: 10px;
}

.mission_column2 {
  padding-left: 10px;
  padding-right: 10px;
}

.mission_column3 {
  padding-left: 10px;
}

// End mission

// Difference
.difference_container {
  background-color: #f8dcce;
  padding: 60px 40px 40px 40px;
  text-align: center;
  margin: 30px 0 80px 0;
}

.difference_title {
  color: black;
  margin-bottom: 50px;
  font-weight: bold;
}

.difference_1,
.difference_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 40px;
}

.difference_1_left,
.difference_2_right {
  width: 50%;
  text-align: left;
}

.difference_1_left {
  margin-right: 20px;
}

.difference_1_right,
.difference_2_left {
  width: 50%;
  text-align: center;
}

.difference_1_right img {
  width: 95%;
  height: 335px;
  margin-left: 20px;
}

.difference_2_left img {
  width: 95%;
  height: 335px;
  margin-left: -25px;
}

.difference_2_right {
  margin-left: 60px;
}

.difference_1_title,
.difference_2_title {
  font-size: 33px;
  color: #2c2c2c;
}

.difference_1_description,
.difference_2_description {
  font-size: 17px;
  color: black;
}

.difference_1_underline,
.difference_2_underline {
  width: 150px;
  height: 2px;
  background-color: #1c1c1c;
  margin: 20px 0;
}

// End difference

// Experience
.introduce_experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 40px 20px 40px;
  padding: 0 40px;
}

.introduce_experience_left {
  width: 50%;
  margin-right: 60px;
}

.introduce_experience_right {
  width: 50%;
  text-align: center;
}

.introduce_experience_right img {
  width: 100%;
  height: 300px;
}

.introduce_experience_underline {
  width: 150px;
  height: 4px;
  background-color: #f4b798;
  margin-bottom: 20px;
}

.introduce_experience_left h3 {
  font-size: 1.8em;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.introduce_experience_left p,
.introduce_experience_right p {
  font-size: 1em;
  color: black;
}

.introduce_experience_right {
  font-size: 13px;
}

.introduce_experience_right p {
  margin-top: 5px;
}

.introduce_shop_now_btn {
  background-color: transparent;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  padding: 7px 55px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.introduce_shop_now_btn:hover {
  background-color: #1c1c1c;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// End experience

/* Explore */
.explore_jewelry_container {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px -75px;
  position: relative;
}

.explore_left_section {
  width: 30%;
  text-align: center;
  padding: 0 3% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore_title {
  font-size: 24px;
  font-weight: bold;
  color: #1c1c1c;
  margin-bottom: -10px;
}

.explore_shop_now_btn {
  background-color: #1c1c1c;
  color: white;
  border: none;
  padding: 7px 55px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 13px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.explore_shop_now_btn:hover {
  background-color: #797979;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.explore_right_section {
  display: flex;
  width: 60%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.explore_product_card {
  width: 210px;
  height: 300px;
  text-align: center;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.explore_product_card:hover .explore_product_image,
.explore_product_name:hover {
  transform: scale(1.1);
}

.explore_product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.explore_product_name {
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 3px 20px 5px 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.explore_product_card:hover .explore_product_name {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.nav_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
  user-select: none;
  align-items: center;
  padding: 13px 27px 10px 17px;
}

.explore_left_arrow {
  left: 33%;
  width: 45px;
  height: 45px;
}

.explore_right_arrow {
  right: 3%;
  width: 45px;
  height: 45px;
}

.explore_right_arrow:hover,
.explore_left_arrow:hover {
  background-color: #e0e0e0;
}

.wrapper {
  max-width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - -15px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
  margin-right: -50px;
  width: 93%;
  border-radius: 0;
}

.carousel .card .img {
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

/* End explore */