body {
    overflow-x: hidden;
}

/* Slider container */

/* Slider container */

.slick-next:before,
.slick-prev:before {
    font-size: 1px;
    color: white;
    content: "";
}

.slick-dots li button:before {
    opacity: 0;
    content: "";
}

.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 5px;
}

.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide img {
    width: 100%;
    height: 440px;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.slide-text {
    font-size: 19px;
    font-weight: bold;
}

.slide-title {
    font-weight: bold;
}

.slide-title,
.slide-text {
    color: #1c1c1c;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.animate-text {
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -40px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: white;
}

.dot-container {
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: -10px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #1c1c1c;
    width: 27px;
    height: 8px;
    border-radius: 5px;
}

// End slide container 

// Under slider 
.under_slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
}

.under_slider_column {
    display: flex;
    align-items: center;
    margin: 0 5%;
}

.under_slider_icon {
    color: #1c1c1c;
}

.under_slider_column .fa-shipping-fast {
    font-size: 33px;
    margin-right: 15px;
    margin-bottom: 11px;
}

.under_slider_column .fa-headset {
    font-size: 36px;
    margin-right: 15px;
    margin-bottom: 14px;
}

.under_slider_column .fa-undo-alt {
    font-size: 35px;
    margin-right: 15px;
    margin-bottom: 13px;
}

.under_slider_column .fa-credit-card {
    font-size: 34px;
    margin-right: 15px;
    margin-bottom: 13px;
}

.under_slider_text_container {
    text-align: left;
}

.under_slider_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.under_slider_text {
    font-size: 14px;
    color: #565e6c;
}

.under_slider_hr {
    width: 100%;
    border: 1px solid #bdbaba;
}


// End under slider 

// Shape 
.shape_title {
    font-size: 26px;
    color: #1c1c1c;
    margin-top: 80px;
    margin-bottom: -25px;
    font-weight: bold;
    text-align: center;
}

.diamond_shape_container {
    display: flex;
    justify-content: center;
    margin: 40px -2% 70px -2%;
}

.diamond_shape_grid {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.diamond_shape_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 0 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.diamond_shape_column a {
    text-decoration: none;
}

.diamond_shape_image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.diamond_shape_name {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.diamond_shape_column:hover .diamond_shape_image {
    transform: translateY(-5px) scale(1.1) rotate(5deg);
}

.diamond_shape_column:hover .diamond_shape_name {
    transform: translateY(-5px) scale(1.2);
    color: #1c1c1c;
    font-weight: bold;
}


// End shape 

/* Collection */
.featured_jewelry_container {
    display: flex;
    justify-content: center;
    margin: -20px 0 100px -75px;
    position: relative;
}

.left_section {
    width: 30%;
    text-align: center;
    padding: 0 3% 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured_title {
    font-size: 26px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: -10px;
}

.featured_description {
    font-size: 14px;
    margin: 20px 15px 20px 15px;
    color: #797979;
}

.shop_now_btn {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 7px 55px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 13px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shop_now_btn:hover {
    background-color: #797979;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.right_section {
    display: flex;
    width: 60%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.home_product_card {
    width: 210px;
    height: 350px;
    text-align: center;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.home_product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.home_product_name {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    color: #1c1c1c;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
    font-weight: bold;
    opacity: 0;
}

.home_collection_hover_effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1c1c1c;
    transition: height 0.3s ease-in-out;
    z-index: 0;
}

.home_product_card:hover .home_collection_hover_effect {
    height: 13%;
}

.home_product_card:hover .home_product_name {
    color: white;
    transform: translateY(-16px);
    opacity: 1;
}

.home_product_card:hover .home_product_image {
    transform: scale(1.05);
}

.home_product_icon_eye {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px !important;
    left: 62px !important;
    font-size: 17px !important;
    color: #1c1c1c !important;
    background-color: white !important;
    border-radius: 30%;
    width: 45px !important;
    height: 45px !important;
    padding: 1px 0.5px 0 0 !important;
    transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out !important;
    opacity: 0;
    box-shadow: none !important;
    position: relative;
}

.home_product_card:hover .home_product_icon_eye {
    opacity: 1;
    transform: translateY(-55px);
}

.home_product_icon_wrapper {
    position: relative;
}

.home_product_icon_wrapper[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: calc(100% + -40px);
    top: 25px;
    background-color: #1c1c1c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    font-size: 12px;
}

.home_product_icon_wrapper:hover::after {
    opacity: 1;
}


.nav_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
    user-select: none;
    align-items: center;
    padding: 13px 27px 10px 17px;
}

.left_arrow {
    left: 33%;
    width: 45px;
    height: 45px;
}

.right_arrow {
    right: 3%;
    width: 45px;
    height: 45px;
}

.right_arrow:hover,
.left_arrow:hover {
    background-color: #e0e0e0;
}

.wrapper {
    max-width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 1;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - -25px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    margin-right: -50px;
    width: 93%;
    border-radius: 0;
}

.carousel .card .img {
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

// End collection 

/* Trending */
.trending_container {
    position: relative;
    background-color: #f4f2ee;
    margin: 100px 0 0 0;
    border-bottom: 95px solid #f8dcce;
    border-left: 70px solid #f8dcce;
    border-right: 70px solid white;
}

.trending_text {
    position: absolute;
    top: 95%;
    left: 27%;
    font-size: 112px;
    font-weight: 600;
    color: white;
    z-index: 10;
    transform-origin: left top 0;
    transition: transform 0.7s ease-in-out;
    white-space: nowrap;
}

.trending_white {
    position: absolute;
    top: 100%;
    right: -10%;
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-color: white;
    transform-origin: left top 0;
    padding-left: 10%;
}

.trending_image {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.trending_title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.trending_product_card_section {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: -6%;
}

.trending_right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending_icon_wrap {
    margin: 0 0;
}

.trending_product_card {
    width: 30%;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
}

.trending_product_card img{
    transition: all 0.3s ease-in-out;
    transform-origin: bottom; 
}

.trending_product_name {
    margin-top: 20px;
    font-weight: bold;
    font-size: 17px;
    color: #1c1c1c;
}

.trending_product_price {
    margin-top: -10px;
    font-size: 17px;
    color: #797979;
}

.view_detail_button {
    position: absolute;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    white-space: nowrap;
}

.trending_product_card:hover .view_detail_button {
    bottom: 105px;
    opacity: 1;
}

.trending_product_card:hover img{
    transform: scale(1.05);
}

//End trending


/* Category */
.category_container {
    margin: 80px 0 130px 0;
    padding: 0 4%;
}

.category_title {
    font-size: 26px;
    color: #1c1c1c;
    margin-bottom: 10px;
    font-weight: bold;
}

.category_description {
    margin: 0 25% 40px 25%;
    color: #797979;
}

.category_image_wrapper_large {
    position: relative;
    overflow: hidden;
}

.category_image_wrapper_large img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.category_image_wrapper_large:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.category_hover_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    background: #f8dcce;
    margin: 29px 22px;
}

.category_image_wrapper_large:hover .category_hover_content {
    opacity: 1;
}

.category_name_large {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
}

.category_image_wrapper_large:hover .category_name_large {
    opacity: 0;
}

.category_name_large_hover {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 40px;
    font-weight: bold;
    color: #1c1c1c;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
}

.category_image_wrapper_large:hover .category_name_large_hover {
    color: #1c1c1c;
    transform: translate(-50%, -20%) scale(1.3);
}

.category_hover_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.category_large_letter {
    font-size: 100px;
    color: #f2c6b1;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.category_view_collection {
    font-size: 17px;
    color: black;
    margin-top: 165px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category_image_wrapper_large:hover .category_large_letter {
    transform: scale(1.5);
}

.category_image_wrapper_large:hover .category_view_collection {
    transform: translateY(-30px);
}

.category_image_wrapper_small {
    position: relative;
    overflow: hidden;
}

.category_image_wrapper_small img {
    width: 100%;
    height: 288px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.category_image_wrapper_small:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.category_hover_content_small {
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    background: #f8dcce;
    margin: 14px 22px;
}

.category_image_wrapper_small:hover .category_hover_content_small {
    opacity: 1;
}

.category_name_small {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
}

.category_image_wrapper_small:hover .category_name_small {
    opacity: 0;
}

.category_name_small_hover {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 40px;
    font-weight: bold;
    color: #1c1c1c;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
}

.category_image_wrapper_small:hover .category_name_small_hover {
    color: #1c1c1c;
    transform: translate(-50%, -20%) scale(1.2);
}

.category_hover_text_small {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.category_large_letter_small {
    font-size: 100px;
    color: #f2c6b1;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.category_view_collection_small {
    font-size: 17px;
    color: black;
    margin-top: 14px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category_image_wrapper_small:hover .category_large_letter_small {
    transform: scale(1.4);
}

.category_image_wrapper_small:hover .category_view_collection_small {
    transform: translateY(-10px);
}

.ciwm1 {
    margin-bottom: 24px;
}

/* End category */

/* Best & Beloved */
.bb_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px 2% 60px 2%;
}

.bb_image {
    width: 93%;
    height: 450px;
}

.bb_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 65%;
    padding: 10px;
}

.bb_text {
    display: flex;
    flex-direction: column;
    margin-left: -180px;
}

.bb_title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    color: #1c1c1c;
}

.bb_description {
    font-size: 15px;
    color: #565e6c;
}

.bb_shop_now_button {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 7px 55px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 13px;
    margin-right: -180px;
    margin-top: -15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bb_shop_now_button:hover {
    background-color: #797979;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* End Best & Beloved */

/* Feature */
.home_feature_container {
    margin: 120px 0;
    padding: 0 5%;
}

.home_feature_navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home_feature_navbar button {
    font-size: 26px;
}

.home_feature_navlink {
    font-size: 18px;
    font-weight: bold;
    color: #1c1c1c;
    margin: 0 15px;
    cursor: pointer;
    border: none;
    background: none;
    transition: color 0.3s;
}

.home_feature_navlink:hover {
    color: #797979;
}

.home_feature_navlink {
    font-size: 13.5px;
    position: relative;
    overflow: hidden;
}

.home_feature_navlink::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 8px;
    width: 0;
    border: 1px solid #797979;
    transition: width 0.6s ease, left 0.6s ease, opacity 0.5s ease-in, ;
    opacity: 0;
}

.home_feature_navlink:hover::before {
    width: calc(100% - 15px);
    left: 8px;
    opacity: 1;
}


.navbar-nav .nav-item .nav-link:hover {
    color: #797979;
}


.home_feature_products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home_feature_product_card {
    width: 220px;
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.home_feature_product_card:hover {
    transform: translateY(-10px);
}

.home_feature_tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #d4af37;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.home_feature_product_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.home_feature_product_name {
    font-size: 16px;
    font-weight: bold;
    color: #1c1c1c;
}

.home_feature_old_price {
    font-size: 14px;
    color: #797979;
    text-decoration: line-through;
}

.home_feature_new_price {
    font-size: 16px;
    font-weight: bold;
    color: #d4af37;
}

/* End feature*/

// Impression
.impression_container {
    position: relative;
    width: 100%;
}

.impression_image {
    width: 100%;
    height: 280px;
}

.impression_content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}

.impression_title {
    font-size: 26px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 10px;
}

.impression_description {
    font-size: 15px;
    color: #1c1c1c;
    margin-bottom: 20px;
    margin-right: 720px;
}

.impression_shop_now_button {
    background-color: transparent;
    color: #1c1c1c;
    border: none;
    padding: 7px 40px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 13px;
    border: 2px solid #1c1c1c;
    font-weight: bold;
}

.impression_shop_now_button:hover {
    background-color: #1c1c1c;
    color: white;
}

// End Impression

// Proposal
.proposal_container {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 110px;
}

.proposal_image {
    width: 100%;
    height: 280px;
}

.proposal_content {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 10px;
}

.proposal_title {
    font-size: 26px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 10px;
}

.proposal_description {
    font-size: 15px;
    color: #1c1c1c;
    margin-bottom: 20px;
    margin-left: 750px;
    text-align: right;
}

.proposal_shop_now_button {
    background-color: transparent;
    color: #1c1c1c;
    border: none;
    padding: 7px 40px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 13px;
    border: 2px solid #1c1c1c;
    font-weight: bold;
}

.proposal_shop_now_button:hover {
    background-color: #1c1c1c;
    color: white;
}

// End Proposal

// Brilliant
.brilliant_container {
    background-color: #f8dcce;
    color: #1c1c1c;
    padding: 40px 4% 90px 4%;
    text-align: center;
    margin-top: 120px;
}

.brilliant_title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.brilliant_description {
    font-size: 16px;
    margin: 0 30px 30px 30px;
}

.brilliant_description a {
    color: #1c1c1c;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.brilliant_grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.brilliant_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brilliant_image_large {
    width: 405px;
    height: 460px;
    overflow: hidden;
}

.brilliant_image_small {
    width: 300px;
    height: 220px;
    overflow: hidden;
}

.brilliant_image_large,
.brilliant_image_small {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.brilliant_image_large img,
.brilliant_image_small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.brilliant_image_large:hover img,
.brilliant_image_small:hover img {
    filter: brightness(50%);
}

.brilliant_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    font-size: 40px;
    color: white;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.brilliant_image_large:hover .brilliant_icon,
.brilliant_image_small:hover .brilliant_icon {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

// End brilliant