.news_banner_main_wrapper {
    position: relative;

}

.news_banner_image img {
    width: 100%;
    height: 410px;
    margin-bottom: 20px;
}

.news_banner_content {
    position: absolute;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    top: 42%;
    left: 13%;
}

.news_banner_content h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1c1c1c;
}
