.setting_menu {
    width: 250px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fafafb;
    padding: 30px 0 50px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .setting_full_name {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 5px;
    }

    .setting_menu_section p {
        color: #323842;
        font-size: 14px;
    }

    .setting_menu_section {
        margin-bottom: 30px;
        margin-left: 45px;
    }

    .setting_menu_items {
        .setting_menu_item {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;
            padding: 10px;

            &:hover {
                background-color: #e0e0e0;
            }

            .setting_menu_item_name {
                font-size: 15px;
                white-space: nowrap;
            }

            .setting_menu_icon{
                margin-left: 35px;
            }

            .icon-edit-profile {
                color: #565e6c; 
                margin-right: 10px;
                font-size: 18px;
            }

            .icon-order-history {
                color: #565e6c; 
                margin-right: 13px;
                font-size: 19px;
            }

            .icon-exchange-point {
                color: #565e6c;
                margin-right: 15px;
                font-size: 18px;
            }
        }
    }
}