input {
    height: 30px;
}

:placeholder-shown {
    font-size: 70%;
}

.fp_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.fp_wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.fp_left_side,
.fp_right_side {
    width: 50%;
}

.fp_left_side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.fp_right_side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp_right_image {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.fp_email_section {
    margin-bottom: 5%;
}

.fp_button {
    width: 100%;
    background-color: #0f2770;
    color: white;
}

.fp_button:hover {
    background-color: #2d4ba8;
    color: white;
}

.forgot_password_title {
    text-align: center;
    font-weight: bold;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.fp_email_label {
    font-weight: bold;
}

.fp_email_section input {
    background-color: #eee;
    border: none;
}

.fp_email_section input {
    background-color: #f3f4f6;
    border: none;
}

.fp_email_section input:focus {
    background-color: #f3f4f6;
    border: none;
    outline: none;
    box-shadow: none;
}

.back_to_login {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    color: black;
}

.back_to_login:hover{
    color: #0f2770;
}

.fp_sub_title {
    text-align: center;
    font-size: 13px;
    color: gray;
}

.confirm-btn {
    display: block;
    margin: 20px auto 0;
    padding: 5px 20px 8px 20px;
    background-color: #0f2770;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.confirm-btn:hover {
    background-color: #2d4ba8;
}

.popup_title {
    text-align: center;
}

.icon-wrapper {
    text-align: center;
    margin: 0 0 5px 0;
}

.icon-email {
    font-size: 90px;
    color: black;
}

.swal-button {
    background-color: #0f2770;
}

.swal-button:focus {
    box-shadow: none;
}

.swal-button:hover {
    background-color: #2d4ba8 !important;
}