input {
    height: 30px;
}

:placeholder-shown {
    font-size: 70%;
}

.rp_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.rp_wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.rp_left_side,
.rp_right_side {
    width: 50%;
}

.rp_left_side {
    padding: 140px 50px 50px 50px;
}

.rp_right_side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rp_right_image {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: -6px;
}

.rp_password_section {
    margin-bottom: 5%;
}

.rp_button {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
}

.rp_button:hover {
    background-color: #797979;
    color: white;
}

.reset_password_title {
    text-align: center;
    font-weight: bold;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.rp_password_label {
    font-weight: bold;
}

.rp_password_section input,
.rp_re_password_section input {
    background-color: #eee;
    border: none;
}

.rp_password_section input,
.rp_re_password_section input {
    background-color: #f3f4f6;
    border: none;
}

.rp_password_section input:focus,
.rp_re_password_section input:focus {
    background-color: #f3f4f6;
    border: none;
    outline: none;
    box-shadow: none;
}

.rp_password_eye,
.rp_re_password_eye {
    position: absolute;
    top: 49%;
    right: 10px;
    cursor: pointer;
}

.swal-button {
    background-color: #1c1c1c;
}

.swal-button:focus {
    box-shadow: none;
}

.swal-button:hover {
    background-color: #797979 !important;
}