.ss_rich_text_page .ss_editor{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    overflow-y: auto;
}
.ss_rich_text_page .ss_preview{
    position: relative;
    height: 100%;
    overflow-y: auto;
    width: 50%;
    padding: 10px;
    overflow:-y scroll;
    border: 1px solid grey;
}
.ss_rich_text_page .ss_row{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ss_rich_text_page .ss_container{
    position: relative;
    height: 100vh;
    width: 100%;
}
.ss_rich_text_page{
    margin: 0;
    padding: 0;
}
.ss_rich_text_page .ss_editor_input{
    height: 100%;
    width: 100%;
}
.ss_rich_text_page_title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: solid;
    font-weight: 600;
}
.ss_button_save_changes {
    display: inline-block;
    margin-left: 90%;
    padding: 5px 13px;
    margin-bottom: 13px;
    border: 1px solid #000; // Add a solid border
    border-radius: 10px;
    background: none; // Remove background
    color: #000; // Set text color
    cursor: pointer; // Change cursor to pointer on hover
    font-size: 16px; // Adjust font size as needed
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease; // Add transition for hover effects

    &:hover {
        background: #faf5f1; // Change background on hover
        color: black; // Change text color on hover
    }
}
.ss_add_content_subdiv1 .ss_editor{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}
.ss_add_content_subdiv1 .ss_preview{
    position: relative;
    height: 100%;
    overflow-y: auto;
    width: 50%;
    padding: 10px;
    overflow:-y scroll;
    border: 1px solid grey;
}
.ss_add_content_subdiv1 .ss_row{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ss_add_content_subdiv1 .ss_container{
    position: relative;
    height: 100vh;
    width: 100%;
}
.ss_add_content_subdiv1 .ss_editor_input{
    height: 100%;
    width: 100%;
}
.ql-container .ql-snow .ql-container{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    /* height: 100%; */
    margin: 0px;
    position: relative;
}
.ss_editor .ql-container {
    height: 92.5% !important;
    overflow-y: auto; /* Enable vertical scrolling */
  }