*{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.ss_add_content_all_container {
    display: flex;
    width: 100%;
}

.ss_add_content_content {
    flex-grow: 1;
    padding: 15px 6% 6% 8%;
    overflow-x: hidden;
}

.ss_add_content_sidebar {
    z-index: 2;
}

// header
.ss_add_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ss_add_content_line {
    width: 150%;
    margin-left: -15%;
    z-index: 1;
    color: gray;
}

.ss_add_content_header .ss_add_content_logo {
    height: 60px;
    width: 120px;
    max-width: 120px;
}

.ss_add_content_title_back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ss_add_content_content_form{
    width: 95%;
}

.ss_add_content_subdiv1{
    display: flex;
    flex-direction: column;
}
.ss_add_displayed_image_div2{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d1d1d1;
    align-items: flex-start;
    padding: 3%;
    margin-left: 25px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.ss_add_subdiv3{
    display: flex;
    flex-direction: column;
}
.ss_add_content_div1_div2{
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Distribute space around the items */
    align-items: flex-start; /* Align items at the start of the cross axis (top of the container) */
    padding: 0px 3%; /* Background color for the container */
    height: 100vh; /* Full height of the viewport */
    margin-bottom: 0px;
}
.ss_add_content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ss_add_information_div1{
    position: relative;
    border-radius: 7px;
    border: 1px solid #d1d1d1;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 10px;  
    height: 80%; 
    width: 63%;
}
.ss_add_date_creator_div3{
    position: relative;
    width: 30%;
    border: 1px solid #d1d1d1;
    border-radius: 7px;
    border: round($number: 20);
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 10px;
    height: 30%;
}
.ss_add_title_input{
    width: 60%;
    height: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5 10px;
    margin-left: 10px;    
    margin-bottom: 5px;
}
.ss_add_content_label{
    font-size: 16px;
    padding: 5 10px;
    margin: 10px;  
}
.ss_add_content_richtext{
    position: relative;
    width: 90%;
    height: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5 10px;
    margin-left: 10px;    
    margin-bottom: 10%;
    position: relative;
    overflow-x: hidden;
}
#imagePreview {
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
  }
.ss_add_all_content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ss_add_content_back_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}