.sub_nav {
    font-size: 13px;
    white-space: nowrap;
    margin: 12px 0 -8px 0;
    text-align: center;
}

.nav-item {
    margin: 0 10px;
    color: #565e6c;
    margin-left: 30px;
}

.sub_nav_hr{
    color: gray;
    margin-bottom: 0;
}