/* Footer */
.footer {
    background-color: #fff7f4;
    padding: 40px 0 25px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.footer h6 {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #7d6f68;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #1c1c1c;
}

.footer hr {
    border: 0;
    border-top: 1px solid #7d6f68;
    margin: 30px -20% 25px -20%;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #7d6f68;
}

.footer p a {
    color: #1c1c1c;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
    color: #797979;
    cursor: pointer;
}

.footer_content li {
    font-size: 14px;
    margin-top: -4px;
}

.footer_content a{
    cursor: pointer;
    color: #7d6f68;
    text-decoration: none;
}

.social_media_icon i {
    font-size: 24px;
    margin-top: 12px;
}

.social_media_icon .ins {
    font-size: 30px;
    margin-top: 9px;
}

.social_media_icon i:hover {
    color: #1c1c1c;
}

.footer ul li a {
    color: #7d6f68 ;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer ul li a:hover {
    color: #1c1c1c;
    transform: translateY(-2px);
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 5px 30px 20px 30px;
    border: 1px solid #888;
    width: 110%;
    max-width: 580px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirm-btn {
    display: block;
    margin: 20px 0 5px 77%;
    padding: 5px 20px 8px 20px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.confirm-btn:hover {
    background-color: #797979;
}

.tos_title,
.tos_introduce {
    text-align: center;
}